{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
    {% block onload_js%}
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    {%endblock%}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
   
    {% block styles %}
    {% endblock %}
    <title> {% block title%}{{ title }}{%endblock%} </title>
</head>

<body>
    <nav>
        <a class="app_name" href="{% url 'landing_page'%}">CCardFraud</a>
        <ul>
            <li><a class="nav-link {% if url_name == 'result' %}active{% endif %}" href="{%url 'result'%}">Predict</a></li>
            <li><a class="nav-link {% if url_name == 'predict' %}active{% endif %}" href="{%url 'predict'%}">Dashboard</a></li>
            <li><a class="nav-link {% if url_name == 'upload' %}active{% endif %}" href="{%url 'upload'%}">Upload</a></li>
            <li><a class="nav-link {% if url_name == 'about' %}active{% endif %}" href="{%url 'about'%}">About</a></li>
        </ul>
    </nav>   
</body>

<!-- main content  -->
<main>
    {%block content%}
    {%endblock%}
</main>

<!-- Footer -->
<footer>
    <div class="footer-container">
        <div class="social-media">
            <div class="text1">
                <h3>Follow Us</h3>
            </div>
            <div class="mail">
                <p><a href=""><img src="{% static 'core/icons/linkedin.svg'%}"> LinkedIn</a></p>
                <p><a href=""><img src="{% static 'core/icons/vector.svg'%}"> Github</a></p>
                <p><a href=""><img src="{% static 'core/icons/twitter.svg'%}"> Twitter</a></p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="contacts">
            <div class="text1">
                <h3>contact us</h3>
            </div>
            <div class="mail">
                <p>sabastainofori@gmail.com</p>
                <p>guru12345@gmail.com</p>
                <p>guru12345@gmail.com</p>
            </div>
        </div>
    </div>
</footer>
</html>