@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root{
    --header_color: black;
    --content_color: #333;
    --box_color: #6974CF;
    --text-color: #FCFCFC;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

nav{
    display: flex;
    background-color: var(--header_color);
    justify-content: space-between;
    height: 50px;
    padding: 5px;
    /* border: 2px solid red; */
}

nav .app_name{
    color: var(--text-color);
    font-style: Inter;
    font-weight: 800 bold;
    text-decoration: none;
    margin-top: 14px;
    /* border: 2px solid yellow; */
}

nav ul{
    /* border: 2px solid red; */
    float: right;
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    padding: 5px;
}

nav ul li a:hover{
    border-bottom: 2px solid white;
}

nav ul li a.active{
    border-bottom: 2px solid blue;
    font-weight: 500;
}

/* label #btn,
label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
} */


/*------------footer-------*/
.footer-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: flex-start;
    background: var(--content_color);
    height: 43vh;
}

.footer-container .social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
}
.footer-container .social-media .text1{
    display: flex;
    margin-bottom: -1rem;
}
.footer-container .social-media .text1 h3{
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
    text-transform: capitalize;
}
.footer-container .social-media .mail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
.footer-container .social-media p{
    display: flex;
    align-items: flex-start;
    margin: 0.4rem;
    text-align: center;
    font-size: .9rem;
    text-transform: capitalize;
}
.footer-container .social-media p a{
    text-decoration: none;
    color: var(--text-color);
    align-items: center;
    text-align: center;
}
.footer-container .social-media p a img{
    align-items: center;
    width: 1.3rem;
    margin: 0 0.2rem;
    text-align: left;
}.footer-container .social-media p a:hover img{
    transform: scale(1.2);
}
.footer-container .divider{
    height: 30vh;
    width: 1px;
    background: var(--text-color);
    align-content: center;
    margin: 50px 10px;
}
.footer-container .contacts{
    display: flex;
    padding: 0 0.5rem;
    flex-direction: column;
    margin: 2rem auto;
}
.footer-container .contacts .mail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
.footer-container .contacts .mail p{
    display: flex;
    margin: 0.5rem;
    text-align: center;
    align-items: center;
    color: var(--text-color);
    font-size: .9rem;
}
.footer-container .contacts .text1{
    margin-bottom: -1rem;
}
.footer-container .contacts .text1 h3{
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
    text-transform: capitalize;
}
