@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root{
    --header_color: black;
    --content_color: #333;
    --box_color: #6974CF;
    --text-color: #FCFCFC;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.whole{
    background-image: url(../images/image9.png);
    background-position: center;
    background-repeat: no repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 20px;
}

.table_1_header{
    background: var(--content_color);
    height: 60px;
    width: 100%;
}
.table_1_header p{
    color: var(--text-color);
    margin-left: 150px;
    font-size: 18px;
}

.whole .block_table{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 30px;
}

.whole .block_table table, tr, td, th{
    border: none;
}

.whole .block_table thead{
    background: var(--content_color);
}
.whole .block_table thead tr{
    color: var(--text-color);
    height: 40px;
    border: none;
}

.whole .block_table tbody{
    background: white;
    border: none;
    height: 40px;
}

.whole .block_table tbody td button{
    width: 80px;
    height: 30px;
    margin-right: 5px;
    color: var(--text-color);
    border-radius: 10px;
    border: none;
}

.whole .block_table .success:first-child{
    background: green;
}
.whole .block_table .success:nth-child(2){
    background: blue;
}
.whole .block_table .success:nth-child(3){
    background: rgb(177, 177, 16);
}

/* Table 2 */
.whole .block_table .table_2{
    border: 2px solid red;
}
.whole .tcontainer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 30px;
    width: 86%;
}
.whole .table_2_header{
    background: var(--content_color);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
}

.whole .tcontainer .table_2_header p{
    color: var(--text-color);
    font-size: 18px;
}

.whole .tcontainer button{
    width: 80px;
    height: 30px;
    color: var(--text-color);
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}

.whole .tcontainer .danger:first-child{
    background: green;
}
.whole .tcontainer .danger:nth-child(2){
    background: blue;
}
.whole .tcontainer .table_2 thead{
    background: #222121;
    border: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: .2rem .5rem;
    margin-top: -.1rem;
}
.whole .tcontainer .table_2 thead tr th{
    padding: 0 .3rem;
    color: #FCFCFC;
}
.whole .tcontainer .table_2 tbody{
    background: #FCFCFC;
    opacity: 5rem;
    backdrop-filter: 4rem;
}